html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d6d6d6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.language {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #969696;
  > button {
    color: inherit;
    border: none;
    padding: 0;
    background: inherit;
    outline: none;
  }
}
.language > button:hover {
  color: #42ab9e;
}
.spacer {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 3%;
  padding-top: 7px;
}
.NavigationBar {
  z-index: 100;
  background-color: #333;
  position: fixed;
  overflow: hidden;
  display: flex;
  width: 100%;
  .link {
    /* RESET */
    text-decoration: none;
    line-height: 1;
    position: relative;
    z-index: 0;
    padding: 5px 5px;
    color: #fff;
    transition: color 0.3s ease-out;
  }
  .left {
    margin-left: 0;
    margin-right: auto;
  }
  .right {
    margin-left: auto;
    margin-right: 0;
  }
  .link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100%));
    width: 100%;
    height: 110%;
    // background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
    background-color: #49c5b6;
    transition: transform 0.25s ease-out;
  }
  .link:hover {
    color: #fff;
  }
  .link:hover::before {
    transform: translateY(0);
    transition: transform 0.25s ease-out;
  }
  .signin {
    padding: 5px 5px;
    text-decoration: none;
    float: right;
    transition: all 0.3s ease-in-out;
    background-color: #49c5b6;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  .signin:hover {
    color: #fff;
    background-color: #42ab9e;
  }
}

.title {
  text-align: center;
  padding: 5px 5px;
  color: #444;
  font-size: 1.5em;
}
.center {
  text-align: center;
}

.height100 {
  height: 100%;
}
.width50 {
  width: 50%;
}
.width40 {
  width: 40%;
}
.margin-figure {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
}
.padding-bottom {
  padding-bottom: 3%;
}
.padding-top {
  padding-top: 3%;
}

.plantbox {
  height: 90%;
}
.form {
  margin: 1% auto 1% auto;
  width: 25em;
  text-align: center;
  position: relative;
  animation: moveDown 0.4s;
  animation-fill-mode: forwards;

  // animates to come down
  @keyframes moveDown {
    0% {
      transform: translate(0, -20%);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  .dropdown-title {
    display: inline-block;
    .dropdown-title-text {
      display: inline-block;
    }
    .dropdown-icon {
      padding-left: 0.1em;
      font-size: 1.33333em;
      display: inline-block;
    }
  }
  .dropdown-item {
    animation: moveDown 0.4s;
    animation-fill-mode: forwards;
  }
  .form-input {
    color: #444;
    font-size: 1.5em;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 0;
    border-top: none;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: #bbb;
    background: transparent;
    display: block;
    height: 2em;
    width: 14em;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3%;
    padding-right: 7%;
    position: relative;
    z-index: 0;
  }

  .error {
    border-color: red;
  }
  .form-button {
    border: none;
    outline: none;
    display: inline-block;
    font-size: 1.5em;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
  }
  .form-button:hover:enabled {
    background-color: #4095c6;
  }

  .form-button:disabled {
    color: #5f5f5f;
    background-color: #2b3841;
  }
}

.errorbox {
  text-align: left;
  animation: moveDown 0.4s;
  background-color: #ffbfbf;
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

.notification {
  text-align: left;
  animation: moveDown 0.4s;
  background-color: #bfffb9;
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

.message {
  text-align: left;
  animation: moveDown 0.4s;
  background-color: #9acbec;
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

.warning {
  text-align: left;
  animation: moveDown 0.4s;
  background-color: #ff9800;
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}
.signOutButton {
  padding: 5px 5px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline-block;
  background-color: #49c5b6;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border: none;
}
.signOutButton:hover {
  color: #fff;
  background-color: #42ab9e;
}

.relativePosition {
  position: relative;
}
.passwordShown {
  // color: #444;
  position: absolute;
  left: 91%;
  top: 29%;
  width: 4%;
  padding: 0.5%;
}

.basic-button {
  border: none;
  outline: none;
  display: inline-block;
  font-size: 1.5em;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}
.basic-button:hover:enabled {
  background-color: #4095c6;
}

.basic-button:disabled {
  color: #5f5f5f;
  background-color: #2b3841;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 25px;
  left: 12px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #49c5b6;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  overflow: hidden !important;
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #fff;
  padding: 0.8em;
  :hover,
  :focus {
    color: #49c5b6;
  }
}

/* Individual item */
.bm-item {
  padding: 0.8em;
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.pb-measures {
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto auto;
  .pb-measure {
    display: inline;
    font-size: 21px;
    text-align: center;
    padding: 1%;
  }
}

.pb-last-image {
  display: inline-block;
  margin-top: 1%;
  margin-right: 1%;
  max-width: 30%;
  height: auto;
  float: left;
}
.pb-motors {
  max-width: 100%;
  margin-top: 1%;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto;
  .pb-motor {
    display: inline;
    font-size: 18px;
    text-align: left;
    padding: 1%;
    .pb-motor-name {
      font-size: 21px;
    }
  }
}

.pb-graph-timestamp {
  display: flex;
  margin-left: 5%;
  margin-bottom: 2%;
  .pb-graph-timestamp-label {
    margin-right: 2%;
  }
}

.flex {
  display: flex;
}

.table {
  height: 100%;
  padding: 5px 10px 5px 10px;
}
.daterangepickercontainer {
  width: 225px;
}
